## ------------------------------------
## binding custom commands defined in prefs_user.config
## _my_command_name <unbound>

_next_file L
_prev_file D
_load_folder u

_theme_terminal <A-1>
_theme_new <A-2>
_theme_catppuccin_latte <A-3>

_theme_monokai <A-4>
_theme_solarized_light <A-5>
_theme_gruvbox_light <A-6>
_theme_catppuccin_mocha <A-7>

## ------------------------------------
# navigation

next_page d
previous_page l

open_last_document a
goto_mark <space>

move_down j
move_up k

#move_down_smooth j
#move_up_smooth k

move_left r
move_right e

zoom_in  K
zoom_out J

## ------------------------------------
# fit to page stuff

fit_to_page_width =

fit_to_page_width;zoom_out;zoom_out;zoom_out;zoom_out;zoom_out;zoom_out;zoom_out;zoom_out;zoom_out;zoom_out;zoom_out;zoom_out;zoom_out;zoom_out;move_right;move_right;move_right;move_right;move_right;move_right;move_right -

fit_to_page_width;zoom_out;zoom_out;zoom_out;zoom_out;zoom_out;zoom_out;zoom_out;zoom_out;zoom_out;zoom_out;zoom_out;zoom_out;zoom_out;zoom_out;move_left;move_left;move_left;move_left;move_left;move_left;move_left <A-->

fit_to_page_width;zoom_out;zoom_out;zoom_out;zoom_out;zoom_out;zoom_out;zoom_out;zoom_out;zoom_out;zoom_out;zoom_out;zoom_out;zoom_out;zoom_out <A-=>

## ------------------------------------
# misc

toggle_two_page_mode sp
toggle_statusbar sb
toggle_titlebar st

delete_bookmark wb
delete_highlight wh

_add_text A
