## ------------------------------------
## creating a command name for a script
## new_command	_my_command_name python /path/to/script.py %{file_name} %{paper_name}

new_command _add_text python3 -m sioyek.add_text %{sioyek_path} %{local_database} %{shared_database} %{file_path} %{selected_rect} %{command_text}

new_command _next_file python3 /Users/maksim/.config/sioyek/commands/next.py "%1"
new_command _prev_file python3 /Users/maksim/.config/sioyek/commands/prev.py "%1"
new_command _load_folder python3 /Users/maksim/.config/sioyek/commands/load_folder.py "%1"

new_command _theme_gruvbox_light    /Users/maksim/.config/sioyek/commands/theme_switch.sh gruvbox_light "%0"
new_command _theme_catppuccin_mocha /Users/maksim/.config/sioyek/commands/theme_switch.sh catppuccin_mocha "%0"
new_command _theme_monokai          /Users/maksim/.config/sioyek/commands/theme_switch.sh monokai "%0"
new_command _theme_solarized_light  /Users/maksim/.config/sioyek/commands/theme_switch.sh solarized_light "%0"
new_command _theme_catppuccin_latte /Users/maksim/.config/sioyek/commands/theme_switch.sh catppuccin_latte "%0"
new_command _theme_new              /Users/maksim/.config/sioyek/commands/theme_switch.sh new "%0"
new_command _theme_terminal         /Users/maksim/.config/sioyek/commands/theme_switch.sh terminal_theme "%0"
new_command _theme_white_background /Users/maksim/.config/sioyek/commands/theme_switch.sh white_background "%0"
new_command _theme_flexoki          /Users/maksim/.config/sioyek/commands/theme_switch.sh flexoki "%0" 

## ------------------------------------

touchpad_sensitivity 0.8

startup_commands    toggle_visual_scroll;toggle_custom_color;toggle_statusbar

# ----------------------------------
# theme placeholder start
# (This section will be replaced with the selected theme)
# === FLEXOKI THEME === #
text_highlight_color        #CE5D97
search_highlight_color      #DA702C
link_highlight_color        #3AA99F
synctex_highlight_color     #4385BE

highlight_color_a           #D14D41
highlight_color_b           #879A39
highlight_color_c           #3AA99F
highlight_color_d           #DA702C
highlight_color_e           #8B7EC8
highlight_color_f           #D0A215
highlight_color_g           #CECDC3

# --- backgrounds ---
custom_background_color     #100F0F
custom_color_mode_empty_background_color #1C1B1A

# --- text ---
custom_text_color           #CECDC3
ui_text_color               #CECDC3
ui_selected_text_color      #FFFCF0

# --- UI chrome ---
ui_background_color         #282726
ui_selected_background_color #205EA6
# === FLEXOKI THEME === #
# theme placeholder end
# ----------------------------------
