## ------------------------------------
## creating a command name for a script
## new_command	_my_command_name python /path/to/script.py %{file_name} %{paper_name}

new_command _add_text python3 -m sioyek.add_text %{sioyek_path} %{local_database} %{shared_database} %{file_path} %{selected_rect} %{command_text}

new_command _next_file python3 /Users/maksim/.config/sioyek/commands/next.py "%1"
new_command _prev_file python3 /Users/maksim/.config/sioyek/commands/prev.py "%1"
new_command _load_folder python3 /Users/maksim/.config/sioyek/commands/load_folder.py "%1"

new_command _theme_gruvbox_light    /Users/maksim/.config/sioyek/commands/theme_switch.sh gruvbox_light "%0"
new_command _theme_catppuccin_mocha /Users/maksim/.config/sioyek/commands/theme_switch.sh catppuccin_mocha "%0"
new_command _theme_monokai          /Users/maksim/.config/sioyek/commands/theme_switch.sh monokai "%0"
new_command _theme_solarized_light  /Users/maksim/.config/sioyek/commands/theme_switch.sh solarized_light "%0"
new_command _theme_catppuccin_latte /Users/maksim/.config/sioyek/commands/theme_switch.sh catppuccin_latte "%0"
new_command _theme_new              /Users/maksim/.config/sioyek/commands/theme_switch.sh new "%0"
new_command _theme_terminal         /Users/maksim/.config/sioyek/commands/theme_switch.sh terminal_theme "%0"

## ------------------------------------

touchpad_sensitivity 0.8

startup_commands    toggle_visual_scroll;toggle_custom_color;toggle_statusbar

# ----------------------------------
# theme placeholder start
# (This section will be replaced with the selected theme)
# === CATPPUCCIN DARK GREY BASE === #
text_highlight_color           #ff6f91

search_highlight_color         #ff6f91
link_highlight_color           #6ea0f7
synctex_highlight_color        #62d196

highlight_color_a              #ff6f91
highlight_color_b              #62d196
highlight_color_c              #4ea8de
highlight_color_d              #e64553
highlight_color_e              #a77bff
highlight_color_f              #f07178
highlight_color_g              #ff6f91

custom_background_color        #2e2e2e
custom_text_color              #ffffff
custom_color_mode_empty_background_color  #3c3c3c

ui_text_color                 #cdd6f4
ui_background_color           #2e2e2e
ui_selected_text_color        #2e2e2e
ui_selected_background_color  #7a7a7a
# === CATPPUCCIN DARK GREY BASE === #
# theme placeholder end
# ----------------------------------
