## ------------------------------------
## creating a command name for a script
## new_command	_my_command_name python /path/to/script.py %{file_name} %{paper_name}

new_command _add_text python3 -m sioyek.add_text %{sioyek_path} %{local_database} %{shared_database} %{file_path} %{selected_rect} %{command_text}

new_command _next_file python3 /Users/maksim/.config/sioyek/commands/next.py "%1"
new_command _prev_file python3 /Users/maksim/.config/sioyek/commands/prev.py "%1"
new_command _load_folder python3 /Users/maksim/.config/sioyek/commands/load_folder.py "%1"

new_command _theme_gruvbox_light    /Users/maksim/.config/sioyek/commands/theme_switch.sh gruvbox_light "%0"
new_command _theme_catppuccin_mocha /Users/maksim/.config/sioyek/commands/theme_switch.sh catppuccin_mocha "%0"
new_command _theme_monokai          /Users/maksim/.config/sioyek/commands/theme_switch.sh monokai "%0"
new_command _theme_solarized_light  /Users/maksim/.config/sioyek/commands/theme_switch.sh solarized_light "%0"
new_command _theme_catppuccin_latte /Users/maksim/.config/sioyek/commands/theme_switch.sh catppuccin_latte "%0"
new_command _theme_new              /Users/maksim/.config/sioyek/commands/theme_switch.sh new "%0"
new_command _theme_terminal         /Users/maksim/.config/sioyek/commands/theme_switch.sh terminal_theme "%0"
new_command _theme_white_background /Users/maksim/.config/sioyek/commands/theme_switch.sh white_background "%0"
new_command _theme_flexoki          /Users/maksim/.config/sioyek/commands/theme_switch.sh flexoki "%0" 
new_command _theme_ash_gray         /Users/maksim/.config/sioyek/commands/theme_switch.sh ash_gray "%0" 
new_command _theme_wezterm          /Users/maksim/.config/sioyek/commands/theme_switch.sh wezterm "%0"


## ------------------------------------

touchpad_sensitivity 0.8

startup_commands    toggle_visual_scroll;toggle_custom_color;toggle_statusbar;toggle_titlebar

# ----------------------------------
# theme placeholder start
# (This section will be replaced with the selected theme)
# === MONOKAI THEME === #
text_highlight_color       #f92672 

search_highlight_color     #f92672
link_highlight_color       #a6e22e
synctex_highlight_color    #66d9ef

highlight_color_a          #f92672
highlight_color_b          #a6e22e
highlight_color_c          #66d9ef
highlight_color_d          #fd971f
highlight_color_e          #8d42f0
highlight_color_f          #e6db74
highlight_color_g          #f8f8f2

custom_background_color    #100c0c
custom_text_color          #ffffff
custom_color_mode_empty_background_color #1e1919 

ui_text_color                #f8f8f2
ui_background_color          #3e3d32
ui_selected_text_color       #f8f8f2
ui_selected_background_color #f92672

status_bar_color           #3e3d32
status_bar_text_color      #f8f8f2
status_bar_font_size       12
# === MONOKAI THEME === #
# theme placeholder end
# ----------------------------------
