# === CATPPUCCIN LATTE === #
text_highlight_color       #dc8a78

search_highlight_color     #dc8a78
link_highlight_color       #1e66f5
synctex_highlight_color    #40a02b

highlight_color_a          #dc8a78
highlight_color_b          #40a02b
highlight_color_c          #04a5e5
highlight_color_d          #d20f39
highlight_color_e          #8839ef
highlight_color_f          #e64553
highlight_color_g          #dc8a78

custom_background_color    #eff1f5
custom_text_color          #000000
custom_color_mode_empty_background_color #e6e9ef

ui_text_color                #4c4f69
ui_background_color          #ccd0da
ui_selected_text_color       #4c4f69
ui_selected_background_color #acb0be
# === CATPPUCCIN LATTE === #
