# === GRAY 5 === #
text_highlight_color        #E6A15F
search_highlight_color      #E6A15F
link_highlight_color        #80B8C4
synctex_highlight_color     #A7BF6A

highlight_color_a           #E37A73
highlight_color_b           #A7BF6A
highlight_color_c           #80B8C4
highlight_color_d           #E6A15F
highlight_color_e           #BFA0E0
highlight_color_f           #E0BE68
highlight_color_g           #E8DFD2

custom_background_color     #201912
custom_text_color           #E8DFD2
custom_color_mode_empty_background_color #17120E

ui_text_color               #E8DFD2
ui_background_color         #17120E
ui_selected_text_color      #FFFFFF
ui_selected_background_color #3A2E25

status_bar_color            #17120E
status_bar_text_color       #E8DFD2
status_bar_font_size        12
# === GRAY 5 === #
