# === GRAY 6 === #
text_highlight_color        #BD834D
search_highlight_color      #BD834D
link_highlight_color        #427D85
synctex_highlight_color     #6B8542

highlight_color_a           #A95750
highlight_color_b           #6B8542
highlight_color_c           #427D85
highlight_color_d           #BD834D
highlight_color_e           #7C659E
highlight_color_f           #A88A3E
highlight_color_g           #E3DAC7

custom_background_color     #9A907D
custom_text_color           #171411
custom_color_mode_empty_background_color #827867

ui_text_color               #171411
ui_background_color         #827867
ui_selected_text_color      #171411
ui_selected_background_color #AFA38D

status_bar_color            #827867
status_bar_text_color       #171411
status_bar_font_size        12
# === GRAY 6 === #
