# === MONOKAI THEME === #
text_highlight_color       #f8f8f2

search_highlight_color     #f92672
link_highlight_color       #a6e22e
synctex_highlight_color    #66d9ef

highlight_color_a          #f92672
highlight_color_b          #a6e22e
highlight_color_c          #66d9ef
highlight_color_d          #fd971f
highlight_color_e          #8d42f0
highlight_color_f          #e6db74
highlight_color_g          #f8f8f2

custom_background_color    #100c0c
custom_text_color          #ffffff
custom_color_mode_empty_background_color #ffffff

ui_text_color                #f8f8f2
ui_background_color          #3e3d32
ui_selected_text_color       #f8f8f2
ui_selected_background_color #f92672
# === MONOKAI THEME === #
