# === CATPPUCCIN DARK GREY BASE === #
text_highlight_color           #ff6f91

search_highlight_color         #ff6f91
link_highlight_color           #6ea0f7
synctex_highlight_color        #62d196

highlight_color_a              #ff6f91
highlight_color_b              #62d196
highlight_color_c              #4ea8de
highlight_color_d              #e64553
highlight_color_e              #a77bff
highlight_color_f              #f07178
highlight_color_g              #ff6f91

custom_background_color        #2e2e2e
custom_text_color              #ffffff
custom_color_mode_empty_background_color  #3c3c3c

ui_text_color                 #cdd6f4
ui_background_color           #2e2e2e
ui_selected_text_color        #2e2e2e
ui_selected_background_color  #7a7a7a
# === CATPPUCCIN DARK GREY BASE === #
