# === WARM 7 === #
text_highlight_color        #A87925
search_highlight_color      #A87925
link_highlight_color        #35747A
synctex_highlight_color     #687F2D

highlight_color_a           #9D4F45
highlight_color_b           #687F2D
highlight_color_c           #35747A
highlight_color_d           #A87925
highlight_color_e           #75589A
highlight_color_f           #987C25
highlight_color_g           #E0D3B5

custom_background_color     #D8CBAA
custom_text_color           #16130F
custom_color_mode_empty_background_color #C8BA99

ui_text_color               #2F2A22
ui_background_color         #C8BA99
ui_selected_text_color      #16130F
ui_selected_background_color #B5A783

status_bar_color            #D8CBAA
status_bar_text_color       #2F2A22
status_bar_font_size        12
# === WARM 7 === #
